.shorten {
  background: linear-gradient(
    180deg,
    transparent 50%,
    var(--clr-very-light-violet) 50%
  );
}

.shorten__form {
  background-image: url(../../images/bg-shorten-mobile.svg);
  background-color: var(--clr-dark-violet);
  background-repeat: no-repeat;
  background-position-x: right;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
  border-radius: 10px;
}

.shorten__search,
.shorten__btn {
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.75em 1em;
}

@media (min-width: 900px) {
  .shorten__form {
    background-image: url(../../images/bg-shorten-desktop.svg);
    background-size: cover;
    height: 10rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .shorten__search,
  .shorten__btn {
    font-size: 1.25rem;
    border-radius: 10px;
    height: 50%;
  }

  .shorten__search {
    width: 70%;
  }

  .shorten__btn {
    width: 20%;
  }
}
