.stats {
  background-color: var(--clr-very-light-violet);
}

.stats h2,
.stats h3 {
  color: var(--clr-very-dark-blue);
}

.stats p {
  color: var(--clr-grayish-violet);
}

.stat__desc {
  font-size: 1rem;
}

.stats__boxes {
  gap: 5rem;
  justify-content: space-around;
  margin-block: 5rem 3rem;
  position: relative;
}

.stats__box {
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  padding-block-start: 4rem;
  text-align: center;
  position: relative;
}

.stats__box__line {
  height: 100%;
  background: var(--clr-cyan);
  border-inline: 4px solid var(--clr-cyan);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.stats__box:nth-child(2) {
  margin-block-end: 5rem;
}

.stats__box:nth-child(3) {
  margin-block: 2.5rem;
}

.stats__box:nth-child(4) {
  margin-block-start: 5rem;
}

.stats__box__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-dark-violet);
  display: grid;
  place-content: center;
  padding: 1.25rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.stats__box__logo img {
  width: 3.5rem;
}

@media (min-width: 900px) {
  .stats h2 {
    font-size: 2.5rem;
  }
  .stats h3 {
    font-size: 1.25rem;
  }

  .stat__desc {
    padding-inline: 25%;
    font-size: 1.12rem;
  }

  .stats__box p {
    font-size: 0.9rem;
  }

  .stats__boxes {
    gap: 2rem;
    align-items: stretch;
    position: relative;
  }

  .stats__box {
    border-radius: 10px;
    text-align: left;
    width: 100%;
  }

  .stats__box__line {
    width: 100%;
    height: 10px;
    top: 43%;
  }

  .stats__box__logo {
    left: max(20%, 4rem);
  }

  .stats__box__logo img {
    width: 2.5rem;
  }
}
