.header {
  padding-block-start: 2.5rem;
}

.header__icons {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: clamp(5rem, 35%, 10rem);
  height: fit-content;
}

.header__hamburger {
  width: 28px;
  height: 22px;
  box-shadow: 0 3px inset var(--clr-grayish-violet),
    0 -3px inset var(--clr-grayish-violet), 0 -9.5px inset #fff,
    0 -12.5px inset var(--clr-grayish-violet);
  float: right;
}

.hidden {
  display: none;
}

.nav {
  background-color: var(--clr-dark-violet);
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem;
  position: absolute;
  width: 90%;
  top: 6rem;
}

.nav__list,
.btn {
  font-size: 1.25rem;
}

.nav__list {
  gap: 2rem;
  margin-block: 2rem;
}

.nav__line {
  width: 90%;
  height: 0.1px;
  margin-block: 0;
  margin-inline: auto;
  background: hsla(0, 0%, 75%, 30%);
}

.btn {
  width: 90%;
}

.nav__list li:active {
  color: var(--clr-grayish-violet);
  cursor: pointer;
}

@media (min-width: 900px) {
  .header__logo {
    width: calc(3.5rem + 7vw);
    margin-inline-end: 1.5rem;
  }

  .hidden {
    display: flex;
  }

  .header__hamburger,
  .nav__line {
    display: none;
  }

  .nav {
    background-color: unset;
    color: var(--clr-grayish-violet);
    justify-content: space-between;
    width: 100%;
    position: unset;
    margin-block-start: 0;
  }

  .nav__list,
  .btn {
    font-size: 1rem;
  }

  .nav__list {
    gap: 1.5rem;
    margin-block: 0;
  }

  .nav__list li:hover {
    color: var(--clr-dark-violet);
    cursor: pointer;
  }

  .btn {
    width: unset;
  }
}
