@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Primary Colors */
  --clr-cyan: hsl(180, 66%, 49%);
  --clr-dark-violet: hsl(257, 27%, 26%);

  /* Secondary Colors */
  --clr-red: hsl(0, 87%, 67%);

  /* Neutral Colors */
  --clr-gray: hsl(0, 0%, 75%);
  --clr-grayish-violet: hsl(257, 7%, 63%);
  --clr-very-dark-blue: hsl(255, 11%, 22%);
  --clr-very-dark-violet: hsl(260, 8%, 14%);

  /* Body Copy */
  font-size: 16px;

  /* Fonts */
  --font-family: "Poppins", sans-serif;
  --min-width: 600px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  font-size: 1.125rem;
}

button {
  font-size: 1.25rem;
}

li {
  list-style: none;
}

.container {
  margin-inline: auto;
  width: 88%;
}

ul {
  padding-inline-start: 0rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

@media (min-width: 900px) {
  :root {
    font-size: 18px;
  }

  body {
    text-align: unset;
  }

  .container {
    margin-inline: auto;
    width: 80%;
    max-width: 1500px;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
