.button {
  color: #fff;
  background-color: var(--clr-cyan);
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  padding: 0.75em 2em;
}

.button:hover {
  text-shadow: 0 0 2px #fff;
  background-color: var(--clr-light-cyan);
  cursor: pointer;
}

@media (min-width: 900px) {
  *:focus {
    outline: none;
    box-shadow: 0 0 0.25rem 0.25rem var(--clr-light-cyan);
  }
}
